body {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, sans-serif;
    margin: 0;
}

.calculatorcontainer {
    background: #d6d6d6;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 
        0 6px 15px rgba(0, 0 ,0, 0.25),
        inset 0 2px 4px rgba(255, 255, 255, 0.6);
}

.calculatorscreen  input {
    width: 100%;
    height: 70px;
    background: #1f1f1f;
    color: #00ff99;
    font-size: 2.4rem;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
}

.calculatorbuttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.calculatorbuttons button{
    padding: 18px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #f0f0f0;
    box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s ease;
}

.calculatorbuttons button:active {
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.calculatorbuttons .addoperator,
.calculatorbuttons .diffoperator,
.calculatorbuttons .multoperator,
.calculatorbuttons .diveoperator {
    background: #f59e0b;
    color: white;
}

.calculatorbuttons .clearall {
  background: #e74c3c;
  color: white;
}

.calculatorbuttons .equalsoperator {
  background: #2ecc71;
  color: white;
}

.calculatorbuttons .num0 {
  grid-column: span 2;
}