div.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.calculator button {
    border: 1px solid black;
    width: 60px;
    height: 40px;
    flex: 1;
}

div.calculatorscreen {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

div.calculatorscreen input {
    background-color: #1e3a5f;
    width: 240px;
    height: 60px;
    font-size: 20px;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 35px;
    color: white;
    border: none;
}
